---
layout: default
title: Hoxly Corporation
---
<div class="row">
	<div class="col-md-3 col-sm-12">
		<h2>About Hoxly</h2>
		<p>We are a company focusing on building innovative solutions to everyday problems using Artificial Intelligence. Our mission is to make our services available to everyone, everywhere, for free.</p>
		<h3>The Team</h3>
		<p>Hoxly is made up of a team of awesome programmers, designers, and engineers (if we do say so ourselves). We are currently based out of Orlando, FL although we have datacenters (AWS) all over the world.</p>
		<h3>Support</h3>
		<p>We do not provide phone or live chat support, however if you need to contact us you may email <a href="mailto:support@hoxly.com">support@hoxly.com</a>.</p>
	</div>
	<div class="col-md-9 col-sm-12">
		<h3>Products & Services</h3>
		<p>We make a variety of public services such as our search based products.</p>
		{% for product in site.data.products %}
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">{{ product.title }}</h5>
					<p class="card-text">{{ product.description }}</p>
					<a href="{{ product.link }}" class="btn btn-primary">Go to {{ product.title }}</a>
				</div>
			</div>
			<br>
		{% endfor %}
	</div>
</div>