<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ page.title }}{% if page.title != site.title %} - {{ site.title }}{% endif %}</title>
  <!-- Font Awesome -->
  <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet" >
  <!-- Dosis -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="https://cdn.hoxly.com/bootstrap/4/themes/spacelab/bootstrap.min.css" rel="stylesheet">
  <!-- Favicon -->
  <link rel="shortcut icon" href="https://cdn.hoxly.com/favicon.ico" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand site-title" href="/" style="font-family: Dosis;"><b style="font-weight: 800;">Hoxly</b>, Inc.</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu" aria-controls="navmenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% link legal/terms-of-use.html %}">Terms of Use</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% link legal/privacy-policy.html %}">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <div class="container">
    {{ content }}
  </div>
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdn.hoxly.com/bootstrap/4/js/bootstrap.min.js"></script>
</body>
</html>
